body {
    padding: 0;
    margin: 0;
}

.container {
    height: 600px;
    width: 800px;
    background-image: url(stuyBridge.jpg);
    background-repeat: no-repeat;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    border: black solid 1px;
}