/*@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Quicksand');*/

body {
    padding: 0;
    margin: 0;
}

#container {
    height: 600px;
    width: 800px;
    background-image: url(images/stuyBridge.jpg);
    margin: 0px auto;
    overflow: hidden;
/*    position: relative;*/
/*    border: black solid 1px;*/
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* TITLE GAME */
h1 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 60px;
    position: relative;
    left: 100px;
    top: 180px;
    text-shadow: 4px 3px 0px rgba(0,0,0,0.0), 9px 8px 0px #00e6e6;
}
a#main_title:hover {
    color: beige;
}
/* END TITLE GAME */

/* PLAY BUTTON */
.btn {
    font-family: 'VT323', cursive;
    font-size: 50px;
	border: none;
	background: none;
	cursor: pointer;
	padding: 10px 55px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
    left: 130px;
    top: 330px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.btn-2 {
	background: #cb4e4e;
	color: #fff;
	box-shadow: 0 6px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.btn-2h {
/*	border-radius: 20px;*/
}

.btn-2h:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 332px; /* +2 */
}

.btn-2h:active {
	box-shadow: 0 0 #ab3c3c;
	top: 336px; /* +6 */
}
/* ----- END PLAY BUTTON ----- /

/* RULES */
h2 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 40px;
    position: relative;
    left: 60px;
    top: 20px;
    background-color: #fdec96;
    width: 400px;
    padding: 5px;
}
h2:hover {
    color: beige;
}
ol#rules {
    font-family: 'VT323', cursive;
    color: white;
    font-size: 30px;
    position: relative;
    left: 130px;
    top: 80px;
    background-color: black; /* FIX THE BOX LATER */
    padding: 5px;
    width: 500px;
    list-style-position: inside;
}
/* ----- END RULES ----- */

/* GAME */
@font-face {
    font-family: 'font';
    src: url('assets/fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'haibao';
    src: url('assets/fonts/haibao.ttf') format('truetype');
}
@font-face {
    font-family: 'hanwanhei';
    src: url('assets/fonts/hanwanhei.ttf') format('truetype');
}
@font-face {
    font-family: 'yasashisa';
    src: url('assets/fonts/yasashisa.ttf') format('truetype');
}
@font-face {
    font-family: 'bmjua';
    src: url('assets/fonts/bmjua.ttf') format('truetype');
}
@font-face {
    font-family: 'pressstart';
    src: url('assets/fonts/pressstart.ttf') format('truetype');
}
body {
    background: url("assets/html/bg.png");
    margin: 0;
    padding: 0;
    border: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden;
}

canvas {
    margin: 0 auto;
    display: block;
    outline: none;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.fontpreloader {
    font-family: 'font';
    font-size: 0;
    opacity: 0.0;
    height: 0;
}
/* end game */